.element {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0;
    background-color: #FFFFFF;
    border-radius: 10px;
    justify-self: center;
}

.element__photo {
    width: 282px;
    height: 282px;
    margin: 0;
}

.element__header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    align-items: center;
    padding: 25px 20px;
}

.element__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 215px;
    margin: 0;
}
.element__button-like {
    width: 21px;
    height: 18px;
    margin: 0;
    border: 0;
    background: none;
    background-image: url(../images/like-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 21px;
    cursor: pointer;
}

.element__button-like:hover {
    opacity: 50%;
}