.form {
    display: flex;
    flex-direction: column;
    justify-content:space-between;    
    margin: 0;
}

.form__fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 54px 0 48px 0;
    margin: 0;
}

.form__input {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 27.26px;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.0);
}

.form__input:nth-last-child(1) {
    margin-top: 30px;
}

.form__button {
    align-self: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    border-radius: 2px;
    border: 0;
    background-color: #000;
    color: #fff;
    height: 50.15px;
    margin: 0;
    padding: 0;
    cursor: pointer; 
    width: 100%;
}

.form__button:hover {
    opacity: 80%;
}

@media screen and (max-width: 581px) {
    .form__fieldset {
        padding: 76px 0 46px 0;
    }

    .form__button {
        font-size: 14px;
        line-height: 17px;      
    }
}